h1 {
    text-align: center;
    color: rgb(80, 80, 80);
}
nav {
    background-color: #aa0000;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}
body {
    background-color: #ffddaa;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fba84f;
}
